{{#md-card title="Why"}}
  {{#md-card-content}}
    <p class="flow-text">
      In the transition from 1.0 to 2.0, Ember has had many significant changes. For
      those of us working with Ember regulary, these improvements are great. For
      those trying to learn Ember, however, there have been many challenges. Many
      features have been deprecated, many have been added, and significant syntax
      changes have resulted in much of the existing material becoming out of date.
      Additionally, Ember CLI has become the de facto way to build most Ember apps.
    </p>
  {{/md-card-content}}
{{/md-card}}


{{#md-card title="What"}}
  {{#md-card-content}}
    <p class="flow-text">
      We'll be building an Ember app using <a href="http://www.ember-cli.com/">Ember CLI</a>.
       We'll be using the <code>rails-api</code> gem to create an API that's
       compliant with <a href="http://jsonapi.org/">JSON API</a>.
    </p>
  {{/md-card-content}}
{{/md-card}}


{{#md-card title="Prerequisites"}}
  {{#md-card-content}}
    <ul>
      <li>
        <p class="flow-text">
          Rails: We'll be using Rails::API for our API so some basic
          knowledge of Rails would be helpful, though you can use whatever you like
          to build the API.
        </p>
      </li>
      <li>
        <p class="flow-text">Javascript: You don't need to be a JS expert, but a
          working knowledge of Javascript is necessary. Additionaly, we'll be use a
          subset of <a href="https://babeljs.io/docs/learn-es2015/">ES6</a> syntax.
        </p>
      </li>
    </ul>
  {{/md-card-content}}
{{/md-card}}

{{#link-to 'installation' class='right'}}{{md-btn icon='mdi-hardware-keyboard-arrow-right' iconPosition='right' text='Installation'}}{{/link-to}}
<div id="_kmts">
  <script src="//komments.net/embed/748a241e-ebe4-4116-90d6-6ec9adb0dddd" defer="defer"></script>
</div>
