<h4 class="center-align">What You'll Need</h4>

{{#md-card-collapsible}}
  {{#md-collapsible icon="mdi-hardware-keyboard-arrow-right" title="Rails::API"}}
    <p class="flow-text">
      Make sure you have Ruby installed, then <code>gem install rails-api</code>.
    </p>

    <p class="flow-text">
      Why Rails::API instead of Rails? From the
      <a href="https://github.com/rails-api/rails-api#readme">README:</a>

      <blockquote cite="https://github.com/rails-api/rails-api">
        Rails::API is a subset of a normal Rails application, created for
        applications that don't require all functionality that a complete Rails
        application provides. It is a bit more lightweight, and consequently a bit
        faster than a normal Rails application.
      </blockquote>
    </p>

  {{/md-collapsible}}
  {{#md-collapsible icon="mdi-hardware-keyboard-arrow-right" title="Node.js/NVM/NPM"}}
    <p class="flow-text">
      You'll want to install <a href="https://nodejs.org/">Node.js</a> if you
      don't already have it. I like using <a href="https://github.com/creationix/nvm">NVM</a>
      to manage different versions of Node.js. Use <code>brew install nvm</code>
      (or your preferred method) to install NVM and then
      <code>nvm install v0.12.0</code> to install node.
    </p>
    <p class="flow-text">
      Confirm you have node installed by running <code>node --version</code>
    </p>
  {{/md-collapsible}}
  {{#md-collapsible icon="mdi-hardware-keyboard-arrow-right" title="Ember CLI"}}
    <p class="flow-text">
      Got to <a href="http://www.ember-cli.com/#getting-started">Ember CLI</a>
      and follow the getting started for installing CLI, Watchman, and PhantomJS
    </p>
  {{/md-collapsible}}
  {{#md-collapsible icon="mdi-hardware-keyboard-arrow-right" title="Ember Inspector"}}
    <p class="flow-text">
      The <a href="https://github.com/emberjs/ember-inspector">Ember Inspector</a>
      is browser plugin that makes development and debugging easier. Install it
      for each browser you intend to develop with.
    </p>
  {{/md-collapsible}}
{{/md-card-collapsible}}

{{#md-card-panel class="teal lighten-3" bodyClass="white-text"}}
  <p>
    * I work on OSX, so I'll be using <a href="http://brew.sh/">Homebrew</a> to install certain packages.
  </p>
{{/md-card-panel}}
